@use "./variables" as *;

@mixin focus-ring {
  outline: 1px solid $accent-active;
  outline-offset: 0px;
}

@mixin drop-target-outline {
  outline: 1px dashed $accent-active;
  outline-offset: -1px;
}

@mixin interactive-tile {
  background-color: $bg-surface;
  cursor: pointer;

  &:hover {
    background: $bg-surface-hover;
    border-color: $border-hover;
  }

  &:focus-visible {
    @include focus-ring;
  }
}
