$font-sans: "Lato", "Segoe UI", Arial, sans-serif;
$font-serif: "Crimson Pro", Georgia, serif;
$font-mono: "Fira Code", "Cascadia Mono", "Consolas", monospace;
$font-size-base: 16px;
$font-size-small: 12px;
$font-size-mono: 12px;
$line-height-base: 1.5;

$text-primary: #eee2c7;
$text-secondary: #bbb;
$text-tertiary: #777;
$text-strong: #fff;
$text-warning: #fb4934;
$text-accent: #fabd2f;
$text-accent-2: #dfb24a;

$bg-app: #ffffff22;
$bg-panel: #000000;
$bg-surface: #ffd6ad19;
$bg-surface-2: #ffa34127;
$bg-surface-hover: #ffc8902e;
$bg-selected: #ffb96816;
$bg-drop-target: #caffeba5;
$bg-warning: #ff221b69;
$bg-accent: #ffe2c74e;
$bg-accent-2: #ffd7b63f;

$border-default: #555;
$border-secondary: #444;
$border-hover: #777;
$accent: #033;
$accent-active: #4e989c;
$accent-active-light: #1bd7e0;
