@use "./variables" as *;

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Lato";
  src: url("../media/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../media/fonts/CrimsonPro-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 900;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../media/fonts/CrimsonPro-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 200 900;
}

@font-face {
  font-family: "Fira Code";
  src: url("../media/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 300 700;
}

:root {
  font-family: $font-sans;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: 400;
  color: $text-primary;
  background-color: $bg-app;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  min-width: 0;
  border-radius: 0;
  background: none;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
